<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Test Suite">

    <!-- Register your Video Listener -->
    <listeners>
        <listener class-name="org.myProject.Listeners.VideoListener"/>
    </listeners>

    <test name="Base">
        <classes>
            <class name="org.myProject.Utils.BaseTest"/>
        </classes>
    </test>

    <test name="Functionality Tests">
        <classes>
            <class name="myProject.Tests.PurchaseTest"/>
            <class name="myProject.Tests.LoginTest"/>
        </classes>
    </test>
</suite>
